## Working with fundamental data


#### Libraries

In [9]:
import pandas as pd
import numpy as np
import os

#### Reading income statements

In [10]:
files = os.listdir('data/IncomeStatement/')
period = 'annual' # 'quarterly' # 'annual'

tickers = ['AAPL']

for t in tickers: 
    for f in files:   # Oops...
        if t in f and period in f:  
            filename = f
            print(f)

AAPL-Income-Statement-annual-24-02-2021-17-23.csv

#### Auxiliar function

This function creates a DF from the IncomeStatement, then it uses it to create a table with all the tickers and its income data.

In [11]:
def create_df_ticker(ticker_name, Statement_type, filename):
    """Given the name of the .csv file it returns a dataframe for a single ticker."""    
    # Read file
    income_ticker = pd.read_csv('data/' + Statement_type + '/' + filename, skiprows = 1)
    
    # Rename column
    income_ticker.columns = ['Data'] + list(income_ticker.columns[1:])
    # income_ticker.rename(columns = {'Fiscal year ends in September. USD in millions except per share data.': 'Data'}, inplace = True)
    
    # Fixing duplicated data names
    eps_index = income_ticker[income_ticker.iloc[:,0] == 'Earnings per share'].index[0]
    income_ticker.iloc[eps_index + 1, 0] += ' ' + income_ticker.iloc[eps_index, 0]
    income_ticker.iloc[eps_index + 2, 0] += ' ' + income_ticker.iloc[eps_index, 0]
    #income_ticker = pd.concat([income_ticker.iloc[:eps_index], income_ticker.iloc[eps_index+1:]])

    waso_index = income_ticker[income_ticker.iloc[:,0] == 'Weighted average shares outstanding'].index[0]
    income_ticker.iloc[waso_index + 1, 0] += ' ' + income_ticker.iloc[waso_index, 0]
    income_ticker.iloc[waso_index + 2, 0] += ' ' + income_ticker.iloc[waso_index, 0]
    #income_ticker = pd.concat([income_ticker.iloc[:waso_index], income_ticker.iloc[waso_index+1:]])
    income_ticker = income_ticker.set_index('Data').drop(['Operating expenses', 'Earnings per share', 'Weighted average shares outstanding'])

     # Change column names to eliminate month (we only care about years)
    income_ticker.columns = [x[:4] for x in income_ticker.columns]

    initial_year = int(income_ticker.columns[0])
    years_to_process = [str(initial_year + x) for x in range(1, 5)]  #skip first one...
    
    for x in ['Revenue', 'Cost of revenue', 'Gross profit', 'Income before taxes', 'Diluted Earnings per share',
              'Net income available to common shareholders']:
        
        if x not in income_ticker.index:
            income_ticker.loc[x] = np.nan  # Add full of NaN
        
        income_ticker.loc['Change % YoY {}'.format(x)] = np.nan
        for y in years_to_process:
            income_ticker.loc['Change % YoY' + x, y] = (income_ticker.loc[x, y] / income_ticker.loc[x, str(int(y)-1)] - 1) * 100
    
        
    income_ticker.reset_index(inplace = True)
    
    # Transposing
    income_ticker = income_ticker.transpose()
    income_ticker.reset_index(inplace = True)

    # Renaming columns as the first row
    income_ticker.columns = income_ticker.iloc[0].values

    # Dropping first row
    income_ticker = income_ticker.iloc[1:]
    
    # Creating 'Year' and 'Ticker' columns
    income_ticker['Year'] = income_ticker['Data'].str[:4]
    income_ticker['Ticker'] = ticker_name
    
    # Setting 'Ticker' as index, dropping and sorting columns
    #income_ticker.set_index('Ticker', inplace = True)
    income_ticker.drop(['Data'], axis = 1, inplace = True)
    income_ticker = income_ticker.iloc[:, [income_ticker.shape[1] - 1, income_ticker.shape[1] - 2] + list(range(income_ticker.shape[1] - 2))  ]
    
    return income_ticker

In [12]:
create_df_ticker('DE', 'IncomeStatement', 'DE-Income-Statement-annual-24-02-2021-18-10.csv')

,Ticker,Year,Revenue,Cost of revenue,Gross profit,Research and development,"Sales, General and administrative",Other operating expenses,Total operating expenses,Operating income,...,Change % YoY Cost of revenue,Change % YoYCost of revenue,Change % YoY Gross profit,Change % YoYGross profit,Change % YoY Income before taxes,Change % YoYIncome before taxes,Change % YoY Diluted Earnings per share,Change % YoYDiluted Earnings per share,Change % YoY Net income available to common shareholders,Change % YoYNet income available to common shareholders
1,DE,2016,26364.0,19175.0,7189.0,1389.0,2952.0,640.0,4981.0,2208.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DE,2017,29116.0,21001.0,8115.0,1368.0,3254.0,732.0,5353.0,2761.0,...,NaN,9.522816,NaN,12.88079,NaN,41.816547,NaN,38.877339,NaN,41.694025
3,DE,2018,37021.0,26986.0,10036.0,1658.0,3630.0,691.0,5979.0,4056.0,...,NaN,28.498643,NaN,23.672212,NaN,29.074192,NaN,8.383234,NaN,9.731233
4,DE,2019,38941.0,28486.0,10455.0,1783.0,3694.0,915.0,6392.0,4063.0,...,NaN,5.558438,NaN,4.17497,NaN,0.417588,NaN,40.19337,NaN,37.373311
5,DE,2020,35259.0,25112.0,10147.0,1644.0,3677.0,969.0,6290.0,3857.0,...,NaN,-11.844415,NaN,-2.945959,NaN,-5.014677,NaN,-14.384236,NaN,-15.431909
6,DE,TTM,35259.0,25112.0,10147.0,1644.0,3677.0,969.0,6290.0,3857.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Main loop

Putting together IncomeStatement of all tickers

In [13]:
files = os.listdir('data/IncomeStatement/')

tickers_downloaded = set()

for f in files:
    tickers_downloaded.add(f.split(' ')[0].split('-')[0])
    
tickers_downloaded = sorted(list(tickers_downloaded))

In [14]:
# Descarga la información...
# ... PENDING ...

# Procesa la información
Statement_type = 'IncomeStatement'
period = 'annual' # 'quarterly' # 'annual'

# Listing all files
files = os.listdir('data/' + Statement_type + '/')

Fundamentals = pd.DataFrame()

for t in tickers_downloaded:    # tickers
    # Look for file
    for f in files:  
        if t in f and period in f:  
            filename = f
    
#    print(filename)
    df_ticker = create_df_ticker(t, Statement_type, filename)
    
    if Fundamentals.shape == (0,0):
        Fundamentals = df_ticker
    else:
        Fundamentals = pd.concat([Fundamentals, df_ticker])

Fundamentals.head(50)

<ipython-input-11-91193cecf54b>:36: RuntimeWarning: invalid value encountered in double_scalars
  income_ticker.loc['Change % YoY' + x, y] = (income_ticker.loc[x, y] / income_ticker.loc[x, str(int(y)-1)] - 1) * 100
<ipython-input-11-91193cecf54b>:36: RuntimeWarning: divide by zero encountered in double_scalars
  income_ticker.loc['Change % YoY' + x, y] = (income_ticker.loc[x, y] / income_ticker.loc[x, str(int(y)-1)] - 1) * 100

,Ticker,Year,Revenue,Cost of revenue,Gross profit,Research and development,"Sales, General and administrative","Restructuring, merger and acquisition",Other operating expenses,Total operating expenses,...,Change % YoYIncome before taxes,Change % YoY Diluted Earnings per share,Change % YoYDiluted Earnings per share,Change % YoY Net income available to common shareholders,Change % YoYNet income available to common shareholders,Other,Preferred dividend,Net income from discontinuing ops,Other income,Extraordinary items
1,A,2016,3574.0,1932.0,1642.0,376.0,751.0,144.0,85.0,1356.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A,2017,3722.0,2012.0,1710.0,389.0,749.0,66.0,118.0,1322.0,...,-168.217054,NaN,-112.075472,NaN,-112.408759,NaN,NaN,NaN,NaN,NaN
3,A,2018,4218.0,2237.0,1981.0,444.0,811.0,19.0,78.0,1352.0,...,495.454545,NaN,2325.0,NaN,2376.470588,NaN,NaN,NaN,NaN,NaN
4,A,2019,4485.0,2385.0,2100.0,447.0,826.0,32.0,71.0,1376.0,...,14.122137,NaN,28.479381,NaN,29.216152,NaN,NaN,NaN,NaN,NaN
5,A,2020,4448.0,2445.0,2003.0,453.0,787.0,34.0,44.0,1318.0,...,-6.354515,NaN,-6.218656,NaN,-7.352941,NaN,NaN,NaN,NaN,NaN
6,A,TTM,4448.0,2445.0,2003.0,453.0,787.0,34.0,44.0,1318.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAL,2016,40180.0,28339.0,11841.0,NaN,1323.0,NaN,4525.0,5848.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAL,2017,42207.0,31154.0,11053.0,NaN,1477.0,505.0,4481.0,6463.0,...,-28.262387,NaN,-18.918919,NaN,-28.28849,NaN,NaN,NaN,NaN,NaN
3,AAL,2018,44541.0,34490.0,10051.0,NaN,1520.0,748.0,4384.0,6652.0,...,-38.910506,NaN,-22.307692,NaN,-26.42001,NaN,NaN,NaN,NaN,NaN
4,AAL,2019,45768.0,35379.0,10389.0,NaN,1602.0,473.0,4627.0,6702.0,...,19.745223,NaN,25.082508,NaN,19.405099,NaN,NaN,NaN,NaN,NaN
5,AAL,2020,17337.0,24933.0,-7596.0,NaN,513.0,1408.0,1789.0,3710.0,...,-607.66844,NaN,-584.432718,NaN,-626.986951,NaN,NaN,NaN,NaN,NaN
6,AAL,TTM,17337.0,24933.0,-7596.0,NaN,513.0,1408.0,1789.0,3710.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAP,2016,215639.0,131376.0,84263.0,10045.0,14194.0,NaN,NaN,24239.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAP,2017,229234.0,141048.0,88186.0,11581.0,15261.0,NaN,NaN,26842.0,...,4.4271,NaN,10.576923,NaN,5.83098,NaN,NaN,NaN,NaN,NaN
3,AAP,2018,265595.0,163756.0,101839.0,14236.0,16705.0,NaN,NaN,30941.0,...,13.75275,NaN,29.565217,NaN,23.122583,NaN,NaN,NaN,NaN,NaN
4,AAP,2019,260174.0,161782.0,98392.0,16217.0,18245.0,NaN,NaN,34462.0,...,-9.829499,NaN,-0.33557,NaN,-7.181133,NaN,NaN,NaN,NaN,NaN
5,AAP,2020,274515.0,169559.0,104956.0,18752.0,19916.0,NaN,NaN,38668.0,...,2.059723,NaN,10.43771,NaN,3.900029,NaN,NaN,NaN,NaN,NaN
6,AAP,TTM,294135.0,180068.0,114067.0,19464.0,20350.0,NaN,NaN,39814.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAPL,2016,215639.0,131376.0,84263.0,10045.0,14194.0,NaN,NaN,24239.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAPL,2017,229234.0,141048.0,88186.0,11581.0,15261.0,NaN,NaN,26842.0,...,4.4271,NaN,10.576923,NaN,5.83098,NaN,NaN,NaN,NaN,NaN
3,AAPL,2018,265595.0,163756.0,101839.0,14236.0,16705.0,NaN,NaN,30941.0,...,13.75275,NaN,29.565217,NaN,23.122583,NaN,NaN,NaN,NaN,NaN
4,AAPL,2019,260174.0,161782.0,98392.0,16217.0,18245.0,NaN,NaN,34462.0,...,-9.829499,NaN,-0.33557,NaN,-7.181133,NaN,NaN,NaN,NaN,NaN
5,AAPL,2020,274515.0,169559.0,104956.0,18752.0,19916.0,NaN,NaN,38668.0,...,2.059723,NaN,10.43771,NaN,3.900029,NaN,NaN,NaN,NaN,NaN
6,AAPL,TTM,294135.0,180068.0,114067.0,19464.0,20350.0,NaN,NaN,39814.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABBV,2016,25638.0,5833.0,19805.0,4366.0,5855.0,NaN,NaN,10221.0,...,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,NaN
2,ABBV,2017,28216.0,7040.0,21176.0,4982.0,6275.0,NaN,NaN,11257.0,...,-1.991375,NaN,-9.090909,NaN,-10.805335,NaN,26.0,NaN,NaN,NaN
3,ABBV,2018,32753.0,7718.0,25035.0,10329.0,7399.0,NaN,500.0,18228.0,...,-32.742332,NaN,10.909091,NaN,7.079311,NaN,30.0,NaN,NaN,NaN
4,ABBV,2019,33266.0,7439.0,25827.0,6407.0,6942.0,NaN,-890.0,12459.0,...,62.131999,NaN,44.262295,NaN,38.624713,NaN,40.0,NaN,NaN,NaN
5,ABBV,2020,45804.0,15387.0,30417.0,6557.0,11299.0,NaN,NaN,17856.0,...,-59.672442,NaN,-48.484848,NaN,-41.902576,-6.0,60.0,NaN,NaN,NaN
6,ABBV,TTM,45804.0,15387.0,30417.0,6557.0,11299.0,NaN,NaN,17856.0,...,NaN,NaN,NaN,NaN,NaN,-6.0,60.0,NaN,NaN,NaN
1,ABC,2016,146850.0,142577.0,4273.0,NaN,2091.0,73.0,292.0,2456.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABC,2017,153144.0,148598.0,4546.0,NaN,2129.0,45.0,353.0,2526.0,...,-34.004313,NaN,-74.050633,NaN,-74.509804,NaN,NaN,NaN,NaN,NaN
3,ABC,2018,167940.0,163327.0,4612.0,NaN,2460.0,122.0,343.0,2925.0,...,28.213508,NaN,359.146341,NaN,355.494505,43.0,NaN,NaN,NaN,NaN
4,ABC,2019,179589.0,174451.0,5138.0,NaN,2664.0,145.0,317.0,3126.0,...,-17.841971,NaN,-46.347942,NaN,-48.431846,1.0,NaN,NaN,NaN,NaN
5,ABC,2020,189894.0,184702.0,5192.0,NaN,2767.0,85.0,306.0,3158.0,...,-647.466391,NaN,-512.128713,NaN,-498.71345,-9.0,NaN,NaN,NaN,NaN
6,ABC,TTM,194546.0,189133.0,5413.0,NaN,2816.0,109.0,277.0,3202.0,...,NaN,NaN,NaN,NaN,NaN,-14.0,NaN,NaN,NaN,NaN
1,ABMD,2016,330.0,50.0,279.0,50.0,164.0,NaN,NaN,214.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABMD,2017,445.0,71.0,375.0,66.0,218.0,NaN,NaN,285.0,...,37.878788,NaN,37.647059,NaN,36.842105,NaN,NaN,NaN,NaN,NaN
3,ABMD,2018,594.0,99.0,495.0,75.0,263.0,NaN,NaN,338.0,...,75.824176,NaN,109.401709,NaN,115.384615,NaN,NaN,NaN,NaN,NaN
4,ABMD,2019,769.0,130.0,640.0,94.0,322.0,NaN,NaN,415.0,...,64.375,NaN,128.979592,NaN,131.25,NaN,NaN,NaN,NaN,NaN
5,ABMD,2020,841.0,151.0,690.0,99.0,342.0,NaN,NaN,440.0,...,-2.281369,NaN,-21.033868,NaN,-21.621622,NaN,NaN,NaN,NaN,NaN
6,ABMD,TTM,813.0,155.0,658.0,115.0,318.0,NaN,NaN,433.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABT,2016,20853.0,9024.0,11829.0,1422.0,6672.0,NaN,550.0,8644.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,337.0,NaN,NaN
2,ABT,2017,27390.0,12337.0,15053.0,2235.0,9117.0,NaN,1975.0,13327.0,...,57.891012,NaN,-71.276596,NaN,-65.928571,NaN,NaN,124.0,NaN,NaN
3,ABT,2018,30578.0,12706.0,17872.0,2300.0,9744.0,NaN,2178.0,14222.0,...,28.776333,NaN,392.592593,NaN,396.436059,NaN,NaN,34.0,NaN,NaN
4,ABT,2019,31904.0,13231.0,18673.0,2440.0,9765.0,NaN,1936.0,14141.0,...,41.907414,NaN,54.887218,NaN,55.701014,NaN,NaN,NaN,NaN,NaN
5,ABT,2020,34608.0,15003.0,19605.0,2420.0,9696.0,NaN,2132.0,14248.0,...,21.854305,NaN,21.359223,NaN,21.914836,NaN,NaN,24.0,NaN,NaN
6,ABT,TTM,34608.0,15003.0,19605.0,2420.0,9696.0,NaN,2132.0,14248.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN
1,ACN,2016,34798.0,24520.0,10277.0,NaN,5467.0,NaN,NaN,5467.0,...,NaN,NaN,NaN,NaN,NaN,-238.0,NaN,NaN,NaN,NaN
2,ACN,2017,36765.0,25735.0,11030.0,NaN,6398.0,NaN,NaN,6398.0,...,-17.630264,NaN,-15.658915,NaN,-16.220817,-190.0,NaN,NaN,NaN,NaN

In [15]:
sorted(Fundamentals.columns)

['Basic Earnings per share',
 'Basic Weighted average shares outstanding',
 'Change % YoY Cost of revenue',
 'Change % YoY Diluted Earnings per share',
 'Change % YoY Gross profit',
 'Change % YoY Income before taxes',
 'Change % YoY Net income available to common shareholders',
 'Change % YoY Revenue',
 'Change % YoYCost of revenue',
 'Change % YoYDiluted Earnings per share',
 'Change % YoYGross profit',
 'Change % YoYIncome before taxes',
 'Change % YoYNet income available to common shareholders',
 'Change % YoYRevenue',
 'Cost of revenue',
 'Diluted Earnings per share',
 'Diluted Weighted average shares outstanding',
 'EBITDA',
 'Extraordinary items',
 'Gross profit',
 'Income before taxes',
 'Interest Expense',
 'Net income',
 'Net income available to common shareholders',
 'Net income from continuing operations',
 'Net income from discontinuing ops',
 'Operating income',
 'Other',
 'Other income',
 'Other income (expense)',
 'Other operating expenses',
 'Preferred dividend',
 'Provision for income taxes',
 'Research and development',
 'Restructuring, merger and acquisition',
 'Revenue',
 'Sales, General and administrative',
 'Ticker',
 'Total operating expenses',
 'Year']